<!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>{{results.surveyName}}</h1>
                <h3>by {{results.creatorName}} for Answer Key</h3>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class = "container">
        <div class="test-border">
            <div class="col-lg-8 col-md-10 mx-auto">
              <form action="/answers" method="POST">
                <input type="text" name = "creationCode" value ="{{results.creationCode}}" hidden> </input>
                {{#each results.questionList}}
                  <h4> {{this.question}} </h4>
                  {{setVar "question1" this.question}}
                  {{question1}}
                    {{#iff this.type "==" "shortAnswer"}}
                      <input type="text" maxlength="50" name="{{this.question}}" placeholder="Insert Answer for Short Answer" required=""> </input>
                    {{/iff}}
                    {{#iff this.type "==" "longAnswer"}}
                      <textarea rows="4" cols="50" maxlength="500" name="{{this.question}}" placeholder="Insert Answer for Long Answer" required=""> </textarea>
                    {{/iff}}
                    {{#iff this.type "==" "multipleChoice"}}
                      <input hidden name = "{{this.question}}"> </input>
                      {{#each this.options}}
                        <input type="radio" name="option" value={{this}}> {{this}}</input><br>
                      {{/each}}
                    {{/iff}}
                    {{#iff this.type "==" "trueFalse"}}
                      <input type="radio" name="{{this.question}}" value="true"> True</input><br>
                      <input type="radio" name="{{this.question}}" value="false"> False</input><br>
                    {{/iff}}
                    {{#iff this.type "==" "ranking"}}
                      <input hidden name = "{{this.question}}"> </input>
                      {{#each this.options}}
                        <input size="2" maxlength="2" type="text" name="{{this}}"></input>
                        {{this}}
                        <br>
                      {{/each}}
                    {{/iff}}
                    <br>
                    <br>
                {{/each}}
                <input type='submit' value = 'Submit' class="btn btn-primary" />
              </form>
            </div>
        </div>
      </div>