<!-- Page Header -->
    <header class="masthead" style="background-image: url('img/aboutstevens.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Responses for {{results.0.surveyName}}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <hr>
          {{#each results}}
          <div class="post-preview">
            <a href="/submissions?takerName={{this.takerName}}&creationCode={{this.creationCode}}">
              <h2 class="post-title">
                Taker: {{this.takerName}}
              </h2>
            </a>
            <p>           
          </div>
          <br>
          <hr>

          {{else}}
            <p class="post-preview">
            There are no tests to view right now
            </p>  
          {{/each}}

          </div>
          <hr>
          <!-- Pager -->
        </div>
      </div>
    </div>
    <hr>

