 <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">

      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Edit below!</h1>
              <h2 class="subheading">Retype questions or add new ones!</h2>
  
            </div>
          </div>
        </div>
      </div>
    </header>

 <!-- Main Content -->
    <div class="container" align = "center">
      <div class="test-border">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- <h2>Create a Test or Survey Here!</h2> -->
          <!-- Submission Form -->

          <form class="createSurvey" action="/reupload" method="POST">
            <div class="control-group">
              <div class="input-tab">
                <label class = "looks-good">Your Name</label>
                <input class = "input-field" type="text"  maxlength="40" class="form-control" value="{{results.creatorName}}" name="creatorName" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="input-tab">
                <label class = "looks-good">Form Name</label>
                <input class = "input-field" type="text" maxlength="40" class="form-control" value="{{results.surveyName}}" name="testName" required data-validation-required-message="Please enter a test name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <input type = "text" name = "creationCode" value = "{{results.creationCode}}" hidden></input>
            <input type = "text" name = "surveyOption" value = "{{results.surveyOption}}" hidden></input>
            

            <div class = "control-group">
              <div class = "question-input-field">
                <label class = "looks-good">Question List</label>
                <div id="addedQuestions">
                  {{#each results.questionList}}
                    {{question1}}
                      {{#iff this.type "==" "shortAnswer"}}
                        <input type="text" name="shortAnswer" id="inputStyle" value="{{this.question}}" required="">
                      {{/iff}}
                      {{#iff this.type "==" "longAnswer"}}
                        <input type="text" id="inputStyle" name="longAnswer" value="{{this.question}}" required="">
                      {{/iff}}
                      {{#iff this.type "==" "multipleChoice"}}
                        <input type="text" name="multipleChoice" id="inputStyle" value="{{this.question}}" required="">
                        <input type="text" id="inputStyle" name="mcOptions" value="{{this.options}}" required="">
                      {{/iff}}
                      {{#iff this.type "==" "trueFalse"}}
                        <input type="text" name="trueFalse" id="inputStyle" value="{{this.question}}" required="">
                      {{/iff}}
                      {{#iff this.type "==" "ranking"}}
                        <input type="text" name="ranking" id="inputStyle" value="{{this.question}}" required="">
                        <input type="text" name="rankingOptions" id="inputStyle" value="{{this.options}}" required="">
                      {{/iff}}
                      <br>
                      <br>
                  {{/each}}
                </div>
              </div>
            </div>

            <br>
            <div>
              <button type = "button" class = "question" id = "shortAnswer" onclick = "createShortAnswer()"> Add Short Answer Question </button>
            </div>
            <div>
              <button type = "button" class = "question" id = "longAnswer" onclick = "createLongAnswer()"> Add Long Answer Question </button>
            </div>
            <div>
              <button type = "button" class = "question" id = "mcAnser" onclick = "createMC()"> Add Multiple Choice Question </button>
            </div>
            <div>
              <button type = "button" class = "question" id = "tfAnser" onclick = "createTrueFalse()"> Add True False Question </button>
            </div>
            <div>
              <button type = "button" class = "question" id = "rankAns" onclick = "createRanking()"> Add Ranking Question </button>
            </div>
            <!-- commenting out for demo
            <div>
              <button type = "button" class = "question" id = "matchAns" onclick = "createMatching()"> Add Matching Question </button>
            </div> -->

            <!--File input -->
            <div class="control-group">
                
                <input type='submit' value = 'Submit' class="btn btn-primary" />
            </div>

          </form>

          </div>
        </div>
      </div>
    </div>

    <hr>